<h2>Création d'un nouvel événement</h2>
<br />
<br />
<% if @event.errors.any? %>
  <div class="form_errors">
    <h3>Errors</h3>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %><%= form_for @event do |f| %>
  <div>
    <p><%= f.label :nom  %></p>
    <%= f.text_field :name %>
    </p>
  </div>
  <div>
    <p><%= f.label :description  %></p>
    <%= f.text_field :description %>
  </div>
  <div>
    <p><%= f.label :date  %></p>
    <%= f.text_field :date %>
    </p>
  </div>
   <div>
    <p><%= f.label :Lieu%></p>
    <%= f.text_field :place %>
    </p>
  </div>
  <%= submit_tag %>
<% end %>