<h2>Evénement :</h2>
<br />

<p>
  Nom de l'événement :
  <%= @event.name %>
</p>
<p>
  Description : 
  <%= @event.description %>
</p>
<p>
  Date :
   <%= @event.date %>
</p>
<p>
  Lieu :
   <%= @event.place %>
</p>
<p>
  Créé par : 
  <%= @user.name %> 
</p>

<br />

<% if logged_in? %>
<br \>
<div>
      <h2>Utilisateurs inscris à l'événement :</h2>
<table class="table table-striped table-hover">
    
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
    <% @event.user_attendees.each do |attendee|%>
    <tr>
        <td> <%= attendee.name %> </td>
        <td> <%= attendee.email %> </td>
    </tr>
    <% end %>
   
</table>
</div>
<% end %>
<p>
  <%= button_to 'S\'inscrire !', attend_event_path(@event), method: :post,  class: "btn btn-secondary" %>
</p>
<br />
<p>
  <%= link_to "Créer un nouvel événement", new_event_path, class: "btn btn-secondary" %>
</p>
